.question{
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    margin: 20px;
}

code {
    border: 1px solid #999;
    display: block;
    margin-left: 100px;
    width: 60%;
    background-color: rgb(162, 175, 175);

  }
  p{
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  #highlight{
    background-color: burlywood;
  }
  #answer{
    font-size: 13px;
    font-weight: bold;
    color: rgb(92, 54, 92);
  }