.question{
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    margin: 20px;
}
code {
    border: 1px solid #999;
    display: block;
    margin-left: 100px;
    width: 60%;
    background-color: rgb(162, 175, 175);
  }
  p{
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
em{
    color: cadetblue;
    font-weight: lighter;
}
span{
    font-weight: lighter;
    padding-top: 3px;
}
.fix{
    margin-left: 45px;
}
.properties{
    margin-left: 65px;
    font-weight: bold;
}
.heads{

    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
    margin-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    margin-left: 45px;
}
.propandMethod{
    font-weight: bold;
    color:rgb(148, 98, 148);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.comment{
    color:rgb(48, 99, 48);
}