body {
  font-family: sans-serif !important;
}

.validators {
  margin: 0px 0px 10px 0px;
  padding: 10px;
}

.validatorBtn {
  border: 0;
  width: 88px;
  height: 31px;
}
.navbar{
  background-color: #37a7eb;
}
    