.question{
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    margin: 20px;
}
code {
    border: 1px solid #999;
    display: block;
    margin-left: 100px;
    width: 60%;
    background-color: rgb(162, 175, 175);
  }
  p{
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  li p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
  }

table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

th,td {
    padding: 12px 15px;
   
}
td{
    border-right: 1px solid rgb(206, 197, 197); 
}
#firstBackColor{
    color: yellow;
}
#firstColor{
    color: red;
}
#secondBackColor{
    color:yellow;
}
#secondColor{
    color: green;
}
#thirdBackColor{
    color:white;
}
#thirdColor{
    color: purple;
}
em{
    color: cadetblue;
    font-weight: lighter;
}